.container {
  height: 100%;
  background-color: aqua;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.display {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 120px;
  font-size: 40px;
}

.select {
  background-color: aquamarine;
  margin-top: 30px;
}

.action {
  display: flex;
  justify-content: space-evenly;
}
